h1 {
 color:red;
 text-align: center;
 font-size: 4em;
}

h2 {
 text-transform: uppercase;
 text-align: center;
}

p {
 text-align: center;
}

li {
 font-size: 38px;
 color: blue;
 text-align: right;
}

.backdrop {
 background-color: #feff00;
 height: 150px;
}

#vomit {
 background-color: chartreuse;
}

.mid-width {
 width: 500px;
}
